<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmtech.icecloud.manager.server.sys.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.mmtech.icecloud.manager.server.sys.entity.SysUser">
    <id column="id_" jdbcType="BIGINT" property="id" />
    <result column="username_" jdbcType="VARCHAR" property="username" />
    <result column="password_" jdbcType="CHAR" property="password" />
    <result column="realname_" jdbcType="VARCHAR" property="realname" />
    <result column="gender_" jdbcType="INTEGER" property="gender" />
    <result column="mobile_" jdbcType="VARCHAR" property="mobile" />
    <result column="status_" jdbcType="INTEGER" property="status" />
    <result column="created_time_" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time_" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Condition_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_, username_, password_, realname_, gender_, mobile_, status_, created_time_, updated_time_
  </sql>
  <select id="selectByCondition" parameterType="com.mmtech.icecloud.manager.server.sys.entity.SysUserCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit > 0 ">
      <if test="offset > 0">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == 0">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id_ = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where id_ = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mmtech.icecloud.manager.server.sys.entity.SysUser">
    insert into sys_user (id_, username_, password_, 
      realname_, gender_, mobile_, 
      status_, created_time_, updated_time_
      )
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}, 
      #{realname,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mmtech.icecloud.manager.server.sys.entity.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id_,
      </if>
      <if test="username != null">
        username_,
      </if>
      <if test="password != null">
        password_,
      </if>
      <if test="realname != null">
        realname_,
      </if>
      <if test="gender != null">
        gender_,
      </if>
      <if test="mobile != null">
        mobile_,
      </if>
      <if test="status != null">
        status_,
      </if>
      <if test="createdTime != null">
        created_time_,
      </if>
      <if test="updatedTime != null">
        updated_time_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCondition" parameterType="com.mmtech.icecloud.manager.server.sys.entity.SysUserCriteria" resultType="java.lang.Long">
    select count(*) from sys_user
    <if test="_parameter != null">
      <include refid="Condition_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmtech.icecloud.manager.server.sys.entity.SysUser">
    update sys_user
    <set>
      <if test="username != null">
        username_ = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password_ = #{password,jdbcType=CHAR},
      </if>
      <if test="realname != null">
        realname_ = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender_ = #{gender,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        mobile_ = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status_ = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time_ = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time_ = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id_ = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmtech.icecloud.manager.server.sys.entity.SysUser">
    update sys_user
    set username_ = #{username,jdbcType=VARCHAR},
      password_ = #{password,jdbcType=CHAR},
      realname_ = #{realname,jdbcType=VARCHAR},
      gender_ = #{gender,jdbcType=INTEGER},
      mobile_ = #{mobile,jdbcType=VARCHAR},
      status_ = #{status,jdbcType=INTEGER},
      created_time_ = #{createdTime,jdbcType=TIMESTAMP},
      updated_time_ = #{updatedTime,jdbcType=TIMESTAMP}
    where id_ = #{id,jdbcType=BIGINT}
  </update>
</mapper>